## One Hot Encoding

In [1]:
#1. Used dataset from https://www.kaggle.com/competitions/mercedes-benz-greener-manufacturing/data

import pandas as pd  #importing pandas and numpy
import numpy as np

#2. Uploaded dataset 

#3. Loading mercedes benz dataset, only categorical variables(here X1, X2, X3, X4, X5, X6)
data_categvar = pd.read_csv('train.csv', usecols=['X1', 'X2', 'X3', 'X4', 'X5', 'X6']) 

#here using pandas reading a csv file read_csv of name train.csv by the columns you want as usecols.
#Now data has the related info

#4. printing information in data
data_categvar.head()


#Minimized the categories(only 5) in the train data of feature X

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [2]:
#5. Finding Unique number of categories present in each and every column.

for colum in data_categvar.columns:
    print(colum, ': ', len(data_categvar[colum].unique()), 'labels')

#here it counts the unique values and prints the length for each column we have selected

X1 :  27 labels
X2 :  44 labels
X3 :  7 labels
X4 :  4 labels
X5 :  29 labels
X6 :  12 labels

In [3]:
#6. Performing One hot Encoding for all the features

pd.get_dummies(data_categvar, drop_first=True).shape

(4209, 117)

In [4]:
#7. finding 10 most frequent categories for a variable X3

data_categvar.X3.value_counts().sort_values(ascending=False).head(20)

#here for a column X3 - finding number of unique categories value_counts() and then sort_values in descending order
#like top values and then print them considering 20 of column data

X3
c    1942
f    1076
a     440
d     290
g     241
e     163
b      57
Name: count, dtype: int64

In [5]:
#8. listing top most frequent categories of variable:

topcategories_X3 = [val for val in data_categvar.X3.value_counts().sort_values(ascending=False).head(10).index]
topcategories_X3

['c', 'f', 'a', 'd', 'g', 'e', 'b']

In [7]:
#9. Applying Condition to print matrix:

for i in topcategories_X3:
    data_categvar[i] = np.where(data_categvar['X3']==i, 1, 0)

data_categvar[['X3']+topcategories_X3].head(40)

#Gives a matrix where if top categories is present 1 else 0

   X3  c  f  a  d  g  e  b
0   a  0  0  1  0  0  0  0
1   e  0  0  0  0  0  1  0
2   c  1  0  0  0  0  0  0
3   f  0  1  0  0  0  0  0
4   f  0  1  0  0  0  0  0
5   c  1  0  0  0  0  0  0
6   f  0  1  0  0  0  0  0
7   f  0  1  0  0  0  0  0
8   e  0  0  0  0  0  1  0
9   c  1  0  0  0  0  0  0
10  f  0  1  0  0  0  0  0
11  f  0  1  0  0  0  0  0
12  c  1  0  0  0  0  0  0
13  f  0  1  0  0  0  0  0
14  e  0  0  0  0  0  1  0
15  f  0  1  0  0  0  0  0
16  f  0  1  0  0  0  0  0
17  c  1  0  0  0  0  0  0
18  c  1  0  0  0  0  0  0
19  f  0  1  0  0  0  0  0
20  c  1  0  0  0  0  0  0
21  d  0  0  0  1  0  0  0
22  b  0  0  0  0  0  0  1
23  c  1  0  0  0  0  0  0
24  d  0  0  0  1  0  0  0
25  c  1  0  0  0  0  0  0
26  f  0  1  0  0  0  0  0
27  c  1  0  0  0  0  0  0
28  c  1  0  0  0  0  0  0
29  c  1  0  0  0  0  0  0
30  f  0  1  0  0  0  0  0
31  c  1  0  0  0  0  0  0
32  c  1  0  0  0  0  0  0
33  d  0  0  0  1  0  0  0
34  c  1  0  0  0  0  0  0
35  c  1  0  0  0  0  0  0
36  f  0  1  0  0  0  0  0
37  d  0  0  0  1  0  0  0
38  f  0  1  0  0  0  0  0
39  c  1  0  0  0  0  0  0

In [8]:
#10. Function for printing top 10 categories in a feature:
def onehotencoding_topX(data_frame, varofcol, topcat_X):
    #function to create dummy variables-using most frequent labels
    #most number of features can be changed.

    for i in topcat_X:
        data_frame[varofcol+'_'+i] = np.where(data[varofcol]==i, 1, 0)
#11. Reading data:
data = pd.read_csv('train.csv', usecols=['X1', 'X2', 'X3', 'X4', 'X5', 'X6'])

#12. Encoding X3 into 10 most frequent categories
onehotencoding_topX(data, 'X3', topcategories_X3)
data.head()

  X1  X2 X3 X4 X5 X6  X3_c  X3_f  X3_a  X3_d  X3_g  X3_e  X3_b
0  v  at  a  d  u  j     0     0     1     0     0     0     0
1  t  av  e  d  y  l     0     0     0     0     0     1     0
2  w   n  c  d  x  j     1     0     0     0     0     0     0
3  t   n  f  d  x  l     0     1     0     0     0     0     0
4  v   n  f  d  h  d     0     1     0     0     0     0     0

In [9]:
#13. To encode X1
topcategories_X1 = [val for val in data.X1.value_counts().sort_values(ascending=False).head(10).index]
onehotencoding_topX(data, 'X1', topcategories_X1)
data.head()

,X1,X2,X3,X4,X5,X6,X3_c,X3_f,X3_a,X3_d,...,X1_aa,X1_s,X1_b,X1_l,X1_v,X1_r,X1_i,X1_a,X1_c,X1_o
0,v,at,a,d,u,j,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [10]:
#13. To encode X2
topcategories_X2 = [val for val in data.X2.value_counts().sort_values(ascending=False).head(10).index]
onehotencoding_topX(data, 'X2', topcategories_X2)
data.head()

,X1,X2,X3,X4,X5,X6,X3_c,X3_f,X3_a,X3_d,...,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [12]:
#13. To encode X4
topcategories_X4 = [val for val in data.X4.value_counts().sort_values(ascending=False).head(10).index]
onehotencoding_topX(data, 'X4', topcategories_X4)
data.head()

,X1,X2,X3,X4,X5,X6,X3_c,X3_f,X3_a,X3_d,...,X4_s,X4_b,X4_l,X4_v,X4_r,X4_i,X4_a,X4_c,X4_o,X4_d
0,v,at,a,d,u,j,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,w,n,c,d,x,j,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,t,n,f,d,x,l,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,v,n,f,d,h,d,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [13]:
#13. To encode X5
topcategories_X5 = [val for val in data.X5.value_counts().sort_values(ascending=False).head(10).index]
onehotencoding_topX(data, 'X5', topcategories_X5)
data.head()

,X1,X2,X3,X4,X5,X6,X3_c,X3_f,X3_a,X3_d,...,X5_w,X5_v,X5_q,X5_r,X5_s,X5_d,X5_n,X5_p,X5_m,X5_i
0,v,at,a,d,u,j,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
#13. To encode X6
topcategories_X6 = [val for val in data.X6.value_counts().sort_values(ascending=False).head(10).index]
onehotencoding_topX(data, 'X6', topcategories_X6)
data.head()

,X1,X2,X3,X4,X5,X6,X3_c,X3_f,X3_a,X3_d,...,X6_g,X6_j,X6_d,X6_i,X6_l,X6_a,X6_h,X6_k,X6_c,X6_b
0,v,at,a,d,u,j,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,w,n,c,d,x,j,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,v,n,f,d,h,d,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [26]:
#To remove the features
data.drop(columns=['X1','X2','X3','X4','X5','X6']).head(20)

,X3_c,X3_f,X3_a,X3_d,X3_g,X3_e,X3_b,X1_aa,X1_s,X1_b,...,X6_g,X6_j,X6_d,X6_i,X6_l,X6_a,X6_h,X6_k,X6_c,X6_b
0,0,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
6,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
8,0,0,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
9,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
10,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
11,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
12,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
13,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
14,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
15,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
16,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
17,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
18,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
19,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0